@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1751213991988') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-moon:before {
  content: "\e603";
}

.icon-sun:before {
  content: "\e69d";
}

